/* COMMON */
img {
    max-width: 100%;
}

/* Layout */
.ms_wrapper {
    width: 100%;
    height: 100vh;
}

.ms_external-row {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

.ms_container {
    padding-top: 10px;
}

/* HEADER */
header {
    height: 70px;
    background-color: #f7f7f7;
}

.ms_row-height {
    height: 50px;
    background-color: white;
}

.ms_logo-mobile {
    width: 50px;
}

.ms_logo-desktop {
    width: 120px;
}

.ms_search-bar,
.ms_search-bar input {
    background-color: #e5e5e5;
    height: 50px;
    border-radius: 5px;
}

.ms_nav-button {
    background: none;
}

.ms_bell i {
    color: #ff8f00;
}

/* LEFT COL */
.ms_left-col {
    width: 80px;
    height: 100%;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    /* Debug */
    border-right: 1px solid black;
}

@media screen and (min-width: 992px) {
    .ms_left-col {
        width: 180px;
    }
}

/* Left Main */
.ms_left-main {
    color: white;
    height: 100%;
}

.ms_nav-button span {
    color: white;
    background: none;
}

.ms_side-button i {
    color: white;
}

/* RIGHT COL */
.ms_right-col {
    width: calc(100% - 80px);
}

/* Right Main */
.ms_right-main {
    overflow-y: scroll;
    height: 100%;
}

/* Hero */
#hero {
    background-color: #1b72e8;
    /* Debug */
    min-height: 200px;
}

#hero {
    color: white;
}

.ms_hero-text {
    font-size: 1.5rem;
}

.ms_pills {
    background-color: rgba(0, 0, 0, 0.267);
    padding: 0 5px;
}

.ms_pills-plus {
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
}

/* Next Class Section */
.ms_card-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #0000002d;
}

.ms_large-col {
    width: 40%;
}

.ms_large-col img {
    width: 30px;
}

.ms_tag {
    font-size: .8rem;
    border-radius: 3px;
    text-align: center;
    color: white;
}

.ms_green {  
    background-color: #198754;  
}

.ms_yellow {
    background-color: #ffc107;
}

.ms_red {
    background-color: #dc3545;
}

@media screen and (min-width: 1200px) {
    .ms_large-col {
        width: 50%;
    }
}